---
import Layout from "../layouts/Layout.astro";
import TableFull from "../components/TableFull.astro";
import Header from "../components/Header.astro";
---

<Layout pageTitle="Bolsa de valores">
  <main class="min-h-screen flex flex-col items-center p-5 md:p-14">
    <Header />
    <TableFull />
  </main>
</Layout>
