---
import { Cash } from "../services/svg";
import { Tiempo } from "../services/TIempo";
const serverDate = new Date().toLocaleString()
const userBalance = 31297;
---
<div class="flex w-full justify-between items-center">
  <div class="flex md:flex-row flex-col">
    <Cash client:visible />
    <h1 class="text-2xl font-bold">Stock Market</h1>
  </div>
  <div class="space-y-1 text-right">
    <div class="text-right">
      <a href="/profile">Cuenta</a>
    </div>
    <div class="text-right md:flex grid space-x-1">
      <p>Dinero total:</p>
      <p>${userBalance}</p>
    </div>
    <div class="flex md:flex-row text-right flex-col space-x-1">
      <p class="text-gray-400 text-sm">Última actualización:</p>
      <Tiempo  client:visible/>
    </div>
  </div>
</div>