---
import { Pig, TrendingUp, Wallet } from "./svg";
---

<section class=" flex flex-col items-center text-left">
  <article>
    <div class=" flex">
      <Wallet/>
      <p>Saldo disponible</p>

    </div>
    <p>$15,000.00</p>
  </article>
  <article>
    <div class=" flex">

      <Pig/>
      <p>Valor de la cartera</p>
    </div>
    <p>$15,000.00</p>
  </article>
  <article>
    <div class=" flex">

      <TrendingUp/>
    <p>Beneficio total</p>
    </div>
  <p>$15,000.00</p>
  </article>
</section>